[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "==4.2.2"
aiogram = "*"
vosk = "*"
adblockparser = "==0.7"
advancedhttpserver = "==2.2.0"
aiocmd = "==0.1.2"
aioconsole = "==0.3.1"
aiodns = "==2.0.0"
aiofiles = "==0.6.0"
aiohttp = "==3.7.4"
aiomultiprocess = "==0.8.0"
aioredis = "==1.3.1"
aiosqlite = "==0.16.1"
aiowinreg = "==0.0.3"
ajpy = "==0.0.4"
alembic = "==1.4.3.dev0"
altgraph = "==0.17"
aniso8601 = "==8.1.1"
anyio = "==0.0.0"
apispec = "==3.3.1"
apispec-webframeworks = "==0.5.2"
appdirs = "==1.4.4"
apscheduler = "==0.0.0"
asciitree = "==0.3.3"
asgiref = "==3.3.0"
asn1crypto = "==1.4.0"
async-timeout = "==3.0.1"
asysocks = "==0.0.2"
attrs = "==20.3.0"
autobahn = "==17.10.1"
automat = "==20.2.0"
backcall = "==0.2.0"
basemap = "==1.2.1"
bcrypt = "==3.1.7"
beautifulsoup4 = "==4.9.3"
bidict = "==0.21.2"
binwalk = "==2.2.1"
bleach = "==3.2.1"
blinker = "==1.4"
bluepy = "==1.3.0"
boltons = "==19.1.0"
bottle = "==0.12.19"
bottleneck = "==1.2.1"
brlapi = "==0.8.2"
brotli = "==1.0.9"
cairocffi = "==1.2.0"
catfish = "==4.16.2"
cbor = "==1.0.0"
certifi = "==2020.6.20"
cffi = "==1.14.6"
chardet = "==3.0.4"
cherrypy = "==8.9.1"
chrome-gnome-shell = "==0.0.0"
cli-helpers = "==2.1.0"
click = "==7.1.2"
click-plugins = "==1.1.1"
colorama = "==0.4.4"
configobj = "==5.0.6"
constantly = "==15.1.0"
crackmapexec = "==5.1.4.dev0"
cryptography = "==3.3.2"
cupshelpers = "==1.0"
cycler = "==0.10.0"
cython = "==0.29.21"
dbus-python = "==1.2.18"
debtags = "==2.1"
decorator = "==4.4.2"
defusedxml = "==0.6.0"
deprecation = "==2.0.7"
dicttoxml = "==1.7.4"
distlib = "==0.3.3"
distro = "==1.6.0"
distro-info = "==1.0"
django = "==2.2.24"
dnslib = "==0.9.14"
dnspython = "==2.0.0"
docopt = "==0.6.2"
dropbox = "==10.10.0"
ecdsa = "==0.16.1"
email-validator = "==1.1.2"
et-xmlfile = "==1.0.1"
evillimiter = "==1.5.0"
exifread = "==2.3.2"
faraday-agent-parameters-types = "==1.0.1"
faraday-client = "==1.1.0"
faraday-plugins = "==1.5.2"
faradaysec = "==3.17.1"
fastapi = "==0.63.0"
feedparser = "==5.2.1"
ffmpeg-python = "==0.2.0"
fierce = "==1.4.0"
filedepot = "==0.5.2"
filelock = "==0.0.0"
filteralchemy = "==0.1.0"
flasgger = "==0.9.5"
flask = "==1.1.2"
flask-classful = "==0.14.1"
flask-kvsession-fork = "==0.6.3"
flask-limiter = "==1.0.1"
flask-login = "==0.5.0"
flask-mail = "==0.9.1"
flask-principal = "==0.4.0"
flask-restful = "==0.3.8"
flask-security-too = "==4.0.0"
flask-socketio = "==5.0.1"
flask-sqlalchemy = "==2.5.1"
flask-wtf = "==0.14.3"
future = "==0.18.2"
gdal = "==3.2.2"
geoip2 = "==2.9.0"
geojson = "==2.5.0"
gitdb = "==4.0.5"
gitpython = "==3.1.14"
google-cloud = "==0.34.0"
google-trans-new = "*"
googletrans = "==3.1.0a0"
gpg = "===1.14.0-unknown"
graphene = "==2.1.7"
graphene-sqlalchemy = "==2.1.2"
graphql-core = "==2.2.1"
graphql-relay = "==2.0.0"
h11 = "==0.9.0"
h2 = "==3.2.0"
hashid = "==3.1.4"
hiredis = "==1.0.1"
hpack = "==3.0.0"
hstspreload = "==2021.12.1"
html2text = "==2020.1.16"
html5lib = "==1.1"
httpcore = "==0.9.1"
httpx = "==0.13.3"
humanize = "==0.0.0"
hupper = "==1.10.2"
hyperframe = "==5.2.0"
hyperlink = "==19.0.0"
icalendar = "==4.0.3"
idna = "==2.10"
impacket = "==0.9.22"
importlib-metadata = "==4.6.4"
incremental = "==17.5.0"
invoke = "==1.4.1"
iptools = "==0.6.1"
ipwhois = "==0.15.1"
ipy = "==1.1"
ipython = "==7.22.0"
ipython-genutils = "==0.2.0"
itsdangerous = "==2.0.1"
jdcal = "==1.0"
jedi = "==0.18.0"
jinja2 = "==2.11.3"
joblib = "==1.1.0"
jsonschema = "==3.2.0"
kaitaistruct = "==0.9"
kali-tweaks = "==2021.3.2"
kismetcapturebtgeiger = "==2021.7.1"
kismetcapturefreaklabszigbee = "==2018.7.0"
kismetcapturertl433 = "==2020.10.1"
kismetcapturertladsb = "==2020.10.1"
kismetcapturertlamr = "==2020.10.1"
kiwisolver = "==1.3.1"
langdetect = "==1.0.9"
ldap3 = "==2.8.1"
ldapdomaindump = "==0.9.3"
lightdm-gtk-greeter-settings = "==1.2.2"
limits = "==1.5.1"
llvmlite = "==0.35.0"
louis = "==3.18.0"
lsassy = "==2.1.2"
lxml = "==4.6.3"
lz4 = "==3.1.3+dfsg"
macholib = "==1.14"
mako = "==1.1.3"
markdown = "==3.3.4"
markupsafe = "==1.1.1"
marshmallow = "==3.13.0"
marshmallow-sqlalchemy = "==0.26.0"
matplotlib = "==3.3.4"
maxminddb = "==2.0.3"
mechanize = "==0.4.5"
minidump = "==0.0.12"
minikerberos = "==0.2.0"
mistune = "==0.8.4"
mitmproxy = "==6.0.2"
more-itertools = "==4.2.0"
msgpack = "==1.0.2"
msldap = "==0.2.10"
multidict = "==5.1.0"
mysqlclient = "==1.4.4"
nassl = "==4.0.0"
neo4j = "==1.7.0.dev0"
neobolt = "==1.7.17"
neotime = "==1.7.4"
netaddr = "==0.7.19"
netifaces = "==0.10.9"
networkx = "==2.5"
nltk = "==3.6.6"
nplusone = "==1.0.0"
ntlm-auth = "==1.4.0"
numba = "==0.52.0"
numexpr = "==2.7.2"
numpy = "==1.19.5"
odfpy = "==1.4.1"
olefile = "==0.46"
openpyxl = "==3.0.3"
orjson = "==0.0.0"
pandas = "==1.1.5"
paramiko = "==2.7.2"
parso = "==0.8.1"
passlib = "==1.7.4"
paste = "==3.5.0"
pastedeploy = "==2.1.1"
pastescript = "==2.0.2"
patator = "==0.9"
pbkdf2 = "==1.3"
pcapy = "==0.11.4"
pefile = "==2021.5.24"
pendulum = "==2.1.2"
pexpect = "==4.8.0"
pgcli = "==3.1.0"
pgspecial = "==1.11.10"
phonenumbers = "==8.12.1"
pickleshare = "==0.7.5"
pillow = "==8.1.2"
pipenv = "==11.9.0"
plaster = "==1.0"
plaster-pastedeploy = "==0.5"
platformdirs = "==2.4.0"
pluginbase = "==1.0.1"
ply = "==3.11"
prettytable = "==0.7.2"
promise = "==2.2"
prompt-toolkit = "==3.0.20"
protobuf = "==3.12.4"
psycopg2 = "==2.8.6"
publicsuffix2 = "==2.20191221"
pyttsx3 = "*"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.9"
